@charset"UTF-8";
@font-face {
    font-family: 'uoc-sans';
    src: url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSans-Regular.woff2") format("woff2"), url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSans-Regular.woff") format("woff"), url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSans-Regular.ttf") format("truetype"), url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSans-Regular.svg#svgFontName") format("svg");
    font-weight: 400;
    font-display: swap
}
@font-face {
    font-family: 'uoc-sans';
    src: url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSans-Italic.woff2") format("woff2"), url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSans-Italic.woff") format("woff"), url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSans-Italic.ttf") format("truetype"), url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSans-Italic.svg#svgFontName") format("svg");
    font-weight: 400;
    font-style: italic;
    font-display: swap
}
@font-face {
    font-family: 'uoc-sans';
    src: url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSans-Bold.woff2") format("woff2"), url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSans-Bold.woff") format("woff"), url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSans-Bold.ttf") format("truetype"), url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSans-Bold.svg#svgFontName") format("svg");
    font-weight: 600;
    font-display: swap
}
@font-face {
    font-family: 'uoc-serif';
    src: url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSerif-Regular.woff2") format("woff2"), url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSerif-Regular.woff") format("woff"), url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSerif-Regular.ttf") format("truetype"), url("https://campus.uoc.edu/estudiant/system/modules/edu.uoc.campus.presentations/resources/fonts/UOCSerif-Regular.svg#svgFontName") format("svg");
    font-weight: 400;
    font-display: swap
}
:root {
    /*color-scheme: light dark;*/
    --color-corporatiu: #000078;
    --color-masterbrand: #73edff;
    --color-masterbrand-suau: #cef9ff;
    --color-gris-clar: #f0f0f0;
    --color-gris-mitja: #d0d0d0;
    --color-gris-fosc: #878787;
    --color-lletra: var(--color-corporatiu);
    --color-fons: white;
    --color-masterbrand-vermell: #FFD8DB;
    --color-masterbrand-verd: #C3FFDE;
}

b, strong {font-weight: bold !important;}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none
    }
}
/*@media (prefers-color-scheme: dark) {
    :root {
        --color-lletra: white;
        --color-fons: var(--color-corporatiu);
        --color-lletra-amb-fons: var(--color-corporatiu)
    }
    body {
        background: var(--color-fons)
    }
    img[src$=".jpg"], img[src$=".png"], img[src$=".gif"], img[src$=".webp"] {
        filter: brightness(.8) saturate(1.25)
    }
}*/
body {
    font-family: 'uoc-sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.15;
    text-size-adjust: 100%;
    color: var(--color-lletra);
    padding: 0.5rem
}
a[href] {
    color: inherit
}
.box, .toggle-text {
    color: var(--color-corporatiu)
}
.container {
    width: 56rem;
    max-width: 100%;
    margin: auto
}
.text-center {
    text-align: center
}
b, dt, strong {
    font-weight: normal
}
h1 {
    margin-bottom: 16px;
    margin-top: 3rem;
    font-size: 2.5rem;
    line-height: 0.95;
    font-weight: 600;
}
h2 {
    font-size: 1.2em;
    text-transform: uppercase
}
.text-pid {
    position: absolute;
    right: 0;
    top: 1rem;
    font-size: 0.85em;
    font-weight: bold;
    color: var(--color-corporatiu)
}
img {
    max-width: 100%
}
img.selectable {
    position: absolute;
    cursor: pointer
}
ul {
    margin: 0;
    padding: 0 0 1em 1.875em;
    list-style: none
}
.logo {
    width: 12rem
}
.logo .slide-toggles .slide-toggle {
    width: 100%;
    text-align: center;
    margin-bottom: 1.25em
}
.toggle-title {
    background-color: var(--color-fons);
    cursor: pointer;
    position: relative
}
.slide-toggle.inverse {
    margin: 0 0 1rem
}
.inverse .toggle-title {
    background: var(--color-masterbrand);
    color: var(--color-lletra-amb-fons);
    text-transform: none;
    border-top: 0.125rem solid;
    border-bottom: 0.125rem solid
}
.inverse .toggle-title h3 {
    text-transform: none;
    font-weight: normal;
    padding: 0.5em 3rem 0.5em 0
}
.toggle-title h3 {
    padding: 0.625em;
    margin: 0;
    text-align: center;
    font-weight: bold
}
.toggle-subtitle {
    color: var(--color-lletra-amb-fons);
    background: var(--color-masterbrand-suau);
    border-bottom: 0.125rem solid currentColor
}
.toggle-subtitle p {
    margin: 0;
    padding: 1.25em;
    text-align: left
}
.toggle-text {
    display: none;
    background-color: var(--color-masterbrand-suau);
    padding: 1rem;
}
.toggle-text div {
    display: flex
}
.toggle-text ul {
    color: var(--color-lletra-amb-fons);
    text-align: left;
    list-style: initial;
    padding: 0 0.625em 0.625em 2.5em
}
.toggle-text p {
    padding-bottom: 1em;
    margin: 0
}
.toggle-text li {
    line-height: 1em;
    padding: 0;
}
.intro-padding {
    margin: 2.5em 0;
    display: flex;
    align-items: center;
    justify-content: center
}
.arrow img {
    width: 1.25em;
    position: absolute;
    right: 1.25em;
    top: 0.85rem;
    transform: rotate(180deg);
    transition-duration: 1s
}
.arrow img.active {
    transform: rotate(0)
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s
}
.fade-enter, .fade-leave-to {
    opacity: 0
}
#footer {
    display: flex;
    justify-content: space-between;
    border-top: 0.25em solid var(--color-masterbrand);
    padding-top: 1.25em;
    margin-top: 0.625em;
    color: var(--color-lletra);
    font-size: 0.625em
}
#footer b {
    color: var(--color-lletra)
}
#footer a {
    text-decoration: none;
    color: var(--color-lletra)
}
.right {
    text-align: right
}
.two-columns {
    margin-bottom: 0.625em;
    color: var(--color-lletra);
    font-size: 0.875em
}
.two-columns .first, .two-columns .second {
    width: 50%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    position: relative
}
.two-columns .second div {
    margin-top: 1rem;
    margin-left: 1rem
}
.second span {
    font-weight: bold;
    position: absolute;
    top: 1rem
}
.big-title h2, .toggle-title h2 {
    text-align: center;
    background: var(--color-corporatiu);
    color: white;
    padding: 0.625em 0;
    font-size: 1.2em;
    margin-bottom: 0;
    z-index: 5;
    position: relative
}
.secondary-title {
    text-align: center;
    font-style: 1.2em;
    padding: 1.875em 0;
    background: var(--color-masterbrand);
    color: var(--color-lletra);
    border-top: 0.125rem solid currentColor;
    border-bottom: 0.125rem solid currentColor;
    position: relative;
    margin-bottom: 0.625em
}
.secondary-title h3 {
    margin: 0
}
.secondary-title img {
    position: absolute;
    left: 0;
    height: 3rem;
    top: 50%;
    margin-top: -1.5rem;
    left: 1.5rem
}
.secondary-subtitle {
    background: var(--color-masterbrand-suau);
    margin-top: -1rem;
    padding: 1.25em 1.875em;
    text-align: center;
    color: var(--color-lletra-amb-fons);
    font-size: 0.875em;
    border-bottom: 0.125rem solid currentColor;
    margin-bottom: 1.25rem
}
table {
    width: 100%;
    text-align: center;
    color: var(--color-lletra);
    font-size: 1rem;
    margin-bottom: 3rem
}
table td {
    width: 50%
}
td.heading {
    background: var(--color-lletra);
    font-weight: bold;
    padding: 0.5rem;
    border-bottom: 0
}
td, th {
    border-bottom: 0.025rem solid var(--color-masterbrand);
    padding: 1rem 1.875em
}
th {
    background: var(--color-masterbrand-suau);
    font-weight: 400
}
.table--borders {
    font-size: 0.95em !important;
    text-align: left;
    margin-bottom: 1rem !important;
}
.table--borders th {
    font-weight: 700 !important;
    border-bottom: 0.025rem solid #000078 !important;
    background: transparent !important;
}

.box {
    display: block !important;
    width: 50%;
    background: var(--color-fons);
    color: var(--color-lletra-amb-fons);
    border-bottom: 0.125rem solid currentColor;
    border-top: 0.125rem solid currentColor
}

.box-inner {
    padding: 1rem;
    display: block !important;
}

.box h3 {
    background: var(--color-masterbrand);
    margin: 0;
    padding: 0.25rem;
    text-align: center
}
.row .content {
    display: grid;
    grid-template-rows: max-content max-content;
    place-content: stretch;
    box-sizing: border-box
}
.content img {
    place-self: center
}
.content .content {
    background: var(--color-masterbrand-suau);
    color: var(--color-lletra-amb-fons);
    font-size: 0.95em;
    padding: 0.625em 0.25rem;
    margin-right: 0;
    border-bottom: 0;
    width: initial;
    display: none;
    border-bottom: 0.125rem solid currentColor;
    height: 100%
}
.title {
    font-weight: bold
}
.content-inside {
    text-align: left;
}
.content-inside .row {
    --gap: 0.25rem;
    display: grid;
    gap: var(--gap)
}
.content-inside .title {
    background: var(--color-masterbrand);
    color: var(--color-lletra-amb-fons);
    font-size: 0.85em;
    border-top: 0.125rem solid currentColor;
    border-bottom: 0.125rem solid currentColor;
    text-align: center;
    display: block;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.625em;
    margin-top: -.25rem;
    cursor: pointer
}

.vermell {
    background: var(--color-masterbrand-vermell) !important;
}

.verd {
    background: var(--color-masterbrand-verd) !important;
}

.que-aporta {
    background: var(--color-masterbrand-suau);
    display: block !important;
    padding: 1.25em;
    color: var(--color-lletra-amb-fons)
}
.two-columns {
    margin-top: 1.25em;
    columns: 2
}
.two-columns .column {
    display: block;
    color: var(--color-lletra-amb-fons);
    border-top: 0.125rem solid;
    border-bottom: 0.125rem solid;
    background: var(--color-masterbrand-suau)
}
.two-columns .column p {
    padding: 0 1.25em
}
.row {
    display: flex
}
.headline {
    position: relative
}
.headline a {
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--color-masterbrand);
    color: var(--color-lletra);
    padding: 0.25rem 0.625em;
    text-transform: uppercase;
    font-size: 0.875em;
    text-decoration: none
}
.cds-dl {
    list-style: none;
    display: grid;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 1rem;
    position: relative;
    right: -50%;
    transform: translateX(-50%);
    z-index: 50;
    max-width: 100%;
    align-self: center;
    color: var(--color-lletra-amb-fons)
}
.cds-dl dt {
    font-weight: bold;
    background: var(--color-masterbrand);
    border: 0.125rem solid currentColor;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    text-align: center;
    padding: 1rem;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    order: 0;
    box-sizing: border-box;
    display: grid;
    align-content: center;
    flex-direction: column;
    overflow: visible;
    padding: 0.5rem;
    max-width: max-content;
    place-self: center
}
.cds-dl dd {
    display: block;
    margin: 0;
    padding: 1rem;
    background: var(--color-masterbrand-suau);
    border-top: 0.125rem solid currentColor;
    border-bottom: 0.125rem solid currentColor;
    width: 100%;
    box-sizing: border-box
}
dl.cds-dl::after, dl.cds-dl::before {
    content: "";
    height: 50%;
    width: 0.125rem;
    background: var(--color-corporatiu);
    display: grid;
    position: absolute;
    left: calc(50% - (0.125rem/2));
    transform: translateX(-50%, -50%);
    z-index: -5
}
dl.cds-dl::before {
    top: 0
}
dl.cds-dl::after {
    bottom: 0
}
.download-link {
    text-align: center;
    color: inherit;
    background-color: var(--color-masterbrand);
    color: var(--color-lletra-amb-fons);
    border: 0;
    cursor: pointer;
    margin: 0 0 0 auto;
    display: grid;
    padding: 0.25em 0.5em;
    position: absolute;
    bottom: 0;
    right: 0
}
@media screen and (min-width: 48.5rem), print {
    .content-inside-four .row {
        grid-template: auto / repeat(auto-fill, minmax(calc(calc(100% - var(--gap)*5)/4), 1fr)) !important;
    }
    .content-inside-three .row {
        grid-template: auto / repeat(auto-fill, minmax(calc(calc(100% - var(--gap)*5)/3), 1fr)) !important;
    }    
    .content-inside-two .row {
        grid-template: auto / repeat(auto-fill, minmax(calc(calc(100% - var(--gap)*5)/2), 1fr)) !important;
        padding: 0 9rem;
    }
    .content-inside .row {
        grid-template: auto / repeat(auto-fill, minmax(calc(calc(100% - var(--gap)*5)/6), 1fr))
    }
    .cds-dl {
        grid-template: auto / minmax(6rem, 1fr) minmax(6rem, 1fr)
    }
    .cds-dl dt {
        place-self: center;
        position: absolute;
        width: 8rem;
        display: grid;
        z-index: 5;
        padding: 0
    }
    .cds-dl dt::after {
        content: "";
        width: calc(100% + .75rem);
        height: calc(100% + .75rem);
        border-radius: 50%;
        position: absolute;
        place-self: center;
        border: 1.5rem solid transparent;
        box-shadow: inset 0 0 0 0.125rem var(--color-corporatiu), inset 0 0 0 6rem var(--color-masterbrand);
        background: linear-gradient(to left, var(--color-fons), var(--color-fons) 44.99%, transparent 45%, transparent 55%, var(--color-fons) 55.1%, var(--color-fons) 100%);
        z-index: -5;
        box-sizing: content-box
    }
    dl.cds-dl:last-of-type::after {
        display: none
    }
    .cds-dl>dd:nth-child(odd):not(:first-child) {
        text-align: right;
        padding-left: 5rem
    }
    .cds-dl>dd:nth-child(even):not(:first-child) {
        padding-right: 5rem
    }
}
@media only print {
    body {
        orphans: 3;
        widows: 3;
        font-size: 12pt
    }
    .cds-dl, .row, [class^="slide-toggle"].inverse {
        break-inside: avoid
    }
    .arrow, .download-link {
        display: none
    }
    .content-inside .content, .hidden-initial, .toggle-text {
        display: grid
    }
    * {
        box-decoration-break: clone
    }
}

.nonsticky.btn {
    max-width: 194px;
    width: 150px;
    overflow: hidden;
}
.nonsticky .icon {
    height: 3.45rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -8px;
    font-size: 3.45rem;
}
.xx-sticky-example .nonsticky {
    margin-bottom: 20px;
}
.nonsticky {
    position: relative;
}